/* Reset some default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Set background color and font */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Use the full viewport height */
  padding: 20px;
}

/* Chat container styles */
/* Chat container styles */
.chat-container {
  width: 70%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px; /* Adjust margin to create space for the footer */
}


/* PDF container styles */
.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Adjusted height */
  text-align: center;
}


.pdf-container h1.title {
  font-size: 48px;
  margin-bottom: 10px;
  color: #007bff;
}

.pdf-container p.slogan {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.pdf-container form {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.pdf-container input[name="pdf_path"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pdf-container button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pdf-container button:hover {
  background-color: #0056b3;
}

/* Chat box styles */
.chat-box {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.chat-message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-message {
  background-color: #f4f4f4;
}

.bot-message {
  background-color: #d6eaf8;
}

/* User input styles */
.user-input {
  display: flex;
  align-items: center;
}

.message-form {
  display: flex;
  width: 100%;
}

.message-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.message-form button:hover {
  background-color: #0056b3;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

