<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="pdf-container">
            <h1 class="title">SciChat</h1>
            <p class="slogan">Where Human Curiosity Meets AI Understanding!</p>
            <form method="post" action="/update_pdf">
                <input type="text" name="pdf_path" placeholder="Enter PDF file path" class="pdf-input">
                <button type="submit">Update PDF</button>
            </form>
        </div>
        
        {% if show_chat %}
        
        <div class="chat-container">
            <div class="chat-box">
                {% for sender, message in chat_history %}
                    <div class="chat-message {% if sender == 'You' %}user-message{% else %}bot-message{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="user-input">
                <form method="POST" action="/" class="message-form">
                    <input type="text" name="user_input" placeholder="Type your message..." />
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <footer class="footer">
        <p>Made By <em><strong>ECH-CHAMMAKHY Yasir</strong></em> and <em><strong>BAHMAD Youssef</strong></em></p>
    </footer>
</body>
</html>
